.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
}

.flex-sb{
    display: flex;
    justify-content: space-between;
}